@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Table displayed using second approach</h2>

    <table id="photos" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Photo title</th>
                <th>Album name</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#photos").DataTable({
                ajax: {
                    url: "/api/photos",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "photoTitle"
                    },
                    {
                        data: "albumName"
                    },
                    {
                        data: "thumbnail",
                        render: function (data, type, photo) {
                            return `<a href=${photo.url}><img src=${data} style="height:50px;width:50px;"/></a>`;
                        }
                    }
                ]
            });
        });
    </script>
}